.sign-in {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px 32px 64px rgba(0,0,0,0.25);
    background-color: #fff;

    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    .errorMsg {
        text-align: center;
        color: red;
    }

    .button {
        display: grid;
        justify-content: center;
    }
}