.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7BFFF0;
    border-bottom: 0.5px solid lightgray;
    padding: 3rem 0;

    .newsletter {
        font-size: 20px;

        @media screen and (min-width: 640px) {
            font-size: 28px;
        }
    }

    .parag {
        margin: 0;
        font-size: 14px;

        @media screen and (min-width: 640px) {
            margin: 0;
            font-size: 18px;
        }
    }

    .sign {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 640px) {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .email {
            background-color: white;
            font-size: 14px;
            padding: 10px 10px 10px 5px;
            border-radius: 0;
            border: 0.1px solid lightslategrey;
            margin: 20px 10px;
            width: 70%;

            @media screen and (min-width: 640px) {
                width: 55%;
            }
        }

        .btn {
            width: 125px;
            height: 40px;
            letter-spacing: 0.5px;
            background-color: #1e43ac;
            color: white;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            border: none;
            cursor: pointer;
            border-radius: 5px;
          
            &:hover {
              background-color: white;
              color: black;
              border: 1px solid black;
            }
        }
    }

}