.edit-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #48afa7;

    .edit-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            text-align: center;
            color: white;
            margin: 1rem 0;
        }

        .form {
            display: flex;
            flex-direction: column;
            box-shadow: 15px 10px 25px 0px  #3fa1a9;
            background: #fff;
            margin-bottom: 2rem;
            border-radius: 25px;

            .profile-container {
                display: flex;
                justify-content: center;
                margin: 3rem 0;

                .profile {
                    border-radius: 9rem;
                }
            }

            .input-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                .sections {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .sub-title {
                        margin: 0;
                    }
                    .input {
                        background: none;
                        background-color: white;
                        color: grey;
                        font-size: 18px;
                        padding: 10px 10px 10px 5px;
                        width: 60%;
                        border: 0.1px solid black;
                        border-radius: 0;
                        margin: 10px 0;
                    }

                    .textarea {
                        border: 0.1px solid black;
                        margin-top: 1rem;
                    }
                }
            }

            .button {
                display: flex;
                justify-content: center;
                margin: 3rem 0;

                .btn {
                    padding: 12px 5rem;
                    background-color: #1e43ac;
                    color: white;
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    border: 0.1px solid #1e43ac;
                    border-radius: 5px;

                    &:hover {
                        border: 0.1px solid #1e43ac;
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
