.profile {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;

        @media screen and (min-width: 640px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .naming {
            font-size: 1rem;
            font-weight: bold;
            padding-left: 0.5rem;
            padding-bottom: 0.2rem;
        }
    }
}