.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #212121;

    .container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 640px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .section {
            padding-left: 2rem;

            @media screen and (min-width: 640px) {
                padding-left: 5rem;
            }

            .title {
                display: flex;
                justify-content: flex-start;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 700;
                font-size: 2rem;
                color: #ffffff;

                @media screen and (min-width: 640px) {
                    font-size: 3rem;
                    margin-left: 1rem;
                }
            }

            .follow {
                display: flex;
                justify-content: flex-start;

                @media screen and (min-width: 640px) {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }

        .options {
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;

            @media screen and (min-width: 640px) {
                display: flex;
                width: 28%;
                justify-content: space-evenly;
            }

            .option {
                display: flex;
                flex-direction: column;
                color: #ffffff;
                padding: 0 2rem;

                @media screen and (min-width: 640px) {
                    padding: 0;
                }

                .option-head {
                    margin: 0;

                    @media screen and (min-width: 640px) {
                        margin: 1rem 0;
                    }
                }

                .links {
                    padding-top: 1rem;
                    color: #ffffff;

                    @media screen and (min-width: 640px) {
                        padding-top: 1.5rem;
                        color: #ffffff;
                        font-weight: 700;
                    }

                    &:hover {
                        color: #fed183;
                    }
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        background-color: #1e43ac;

        @media screen and (min-width: 640px) {
            margin-top: 3rem;
        }

        .copyright-title {
            font-weight: 700;
            color: #ffffff;
        }
    }
}