.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid lightgray;
    background-color: #F8F8F8;

    .title {
        display: grid;
        justify-content: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 5rem;
        width: 50%;

        .category {
            width: 12rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            background-color: #7BFFF0;
            align-items: center;
            box-shadow: 1px 1px 5px;
            font-size: 1.3rem;
            font-weight: 700;

            &:hover {
                background-color: #1e43ac;
                cursor: pointer;
                transform: scale(1.4);
                transition: transform 0.9s ease-in-out;
                color: white;
            }
        }
    }

}